@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #672CBC;
  --text-color-primary: #240F4F;
  --text-color-secondary: #8789A3;
  --card-gradient: linear-gradient(135deg, #DF98FA 0%, #9055FF 100%);
}

/* :root {
  --background: #EDC28F;
  --foreground: #473F6E;
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #040C23;
    --foreground: #A44AFF;
    --text-color-primary: #ffffff;
    --text-color-secondary: #A19CC5;
  }
  /* :root {
    --background: #473F6E;
    --foreground: #EDC28F;
  } */
}

body {
  color: var(--text-color-primary);
  background: var(--background);
  font-family: 'Plus Jakarta Sans', Arial, Helvetica, sans-serif;
}
.bg-card-gradient {
  background: var(--card-gradient);
}
